@layer base {
  html {
    scrollbar-width: thin;
    scrollbar-color: #F4F6F8 #919EAB;
  }

  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-track {
    background-color: #F4F6F8;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #C4CDD5;
    border-radius: 8px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #919EAB;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
