@layer base {
  html {
    scrollbar-width: thin;
    scrollbar-color: #f4f6f8 #919eab;
  }

  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar:horizontal {
    height: 8px;
  }

  *::-webkit-scrollbar-track {
    background-color: #f4f6f8;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #c4cdd5;
    border-radius: 8px;
  }

  *::-webkit-scrollbar-thumb:hover {
    background-color: #919eab;
  }
}

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
      display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
      -ms-overflow-style: none; /* IE and Edge */
      scrollbar-width: none; /* Firefox */
    }
  }
}
